SQL: [DATETIME에서 DATE로 형 변환](https://school.programmers.co.kr/learn/courses/30/lessons/59414)

SQL: [입양 시각 구하기(1)](https://school.programmers.co.kr/learn/courses/30/lessons/59412)

SQL: [NULL 처리하기](https://school.programmers.co.kr/learn/courses/30/lessons/59410)

SQL: [중성화 여부 파악하기](https://school.programmers.co.kr/learn/courses/30/lessons/59409)

SQL: [중복 제거하기](https://school.programmers.co.kr/learn/courses/30/lessons/59408)

SQL: [동물 수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/59406)

SQL: [이름에 el이 들어가는 동물 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59047)

SQL: [루시와 엘라 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59046)

SQL: [동명 동물 수 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59041)

SQL: [고양이와 개는 몇 마리 있을까](https://school.programmers.co.kr/learn/courses/30/lessons/59040)

SQL: [최솟값 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/59038)